* {

  background-color: #704214

}

p {

color: #E3DAC9

}

h1{

  font-family: cursive;

text-decoration: underline;

font-size: 5rem

}

a{
  font-size: 2rem
}

a:hover{

    text-decoration: underline;

  color: grey
}

a{
  color: black
}

h5{

  color: #806000
}
